<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/allProducts">All products</a>
            <a href="/myCard">My Card</a>
        </nav>
    </header>
    <main>
        <form action="/products" method="post">
            <input type="text" name="product" placeholder="Maybeline">
            <input type="text" name="lowerprice" placeholder="lower price">
            <input type="text" name="higherprice" placeholder="higher price">
            <button type="submit">Search</button>
        </form>
    </main>
</body>
</html>